@model Laboratorio4_ED1.Models.Developer

@{
    ViewData["Title"] = "DeveloperProfile";
}

@{
    Layout = "_Layout";
}

<h2>DeveloperProfile</h2>

<h3><strong>@Html.DisplayFor(model => model.User)</strong></h3>

<h4>You have <strong>@Html.DisplayFor(model => model.Tasks.tasksQuantity)</strong> pending tasks</h4>

<h4><strong>Your current task information is shown below</strong></h4>

@Html.ActionLink("Add Task", "CreateTask")

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTask.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentTask.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTask.Proyect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentTask.Proyect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTask.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentTask.DueDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Mark as done and get the next task", "DeveloperProfile", new { change = 1 }) |
</div>


<div>
    @Html.ActionLink("Change User", "Login", new { isFirstTime = 0 } )
</div>



<div>
    @Html.ActionLink("Log Out and Save", "Exit", new { area = "" })
</div>
